head, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    
} 

head {
    width: 100%;
}

body{
    width: 100%;
    background-color: #DDD;
}

#contentContainers {
    width: 75%;
    margin: 0 auto;
}

#clickMe {
    width: 75%;
    margin: 0 auto;
}

.lightButton {
    font-size: 15px;
    padding: 5px;
    border: 1px solid grey;
    background-color: #DDD;
}
.singleContainer {
   column-count: 3;
   column-width: 100px;
   column-gap: 100px;
  
   border: 1px solid black;
   margin-bottom: 5px;
   background-color: white;
    
}

h1 {
    width: 75%;
    margin: 15px auto;
}

ul {
    width: 100%;
}

ul:last-child {
    color: red;
}

li {
    display: inline-block;
    padding: 5px 25%;
   
    
}

.darkMode {
    color: white;
    border-color: white;
    background-color: #333;
}

.darkContainers{
    color: white;
    border-color: white;
    background-color: #888;
}
